body {
    background: darkred;
}
.App {
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100px;
}

path {
    stroke: #000;
    fill: #fff;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 20px !important;
    text-align: center;
}

.search-wrapper .form-group {
    display: flex;
}

.search-wrapper input {
    margin-right: 10px;
}

.charList-wrapper img {
    width: 100%;
    border: none;
}

.charList-wrapper .ui.pagination.menu {
    margin-bottom: 40px;
    margin-top: 40px;
}

.fade-enter {
    opacity: 0;
    visibility: hidden;
    transition: all ease 2s;
}

.fade-enter-active {
    opacity: 1;
    visibility: visible;
    transition: all ease 2s;
}

.fade-exit {
    visibility: visible;
    opacity: 0;
}

.fade-exit-active {
    opacity: 0;
    visibility: hidden;
    transition: all ease 2s;
}
