@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    image-rendering: -webkit-optimize-contrast;
    /* background: url("./images/bg1.jpeg") no-repeat center left;
    background-size: cover; */
    background: #41295a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #2f0743,
        #41295a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2f0743,
        #41295a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

nav {
    margin-bottom: 40px;
    display: flex;
}

nav img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

nav a {
    color: #fff;
    text-align: center;
    margin-right: 15px;
    font-size: 1.2rem;
    animation: fade 1s ease-in forwards;
}

nav a:hover {
    cursor: pointer;
}

.moving-panels {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    animation: fade 2s ease-in forwards;
    opacity: 1;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.panels {
    width: 160px;
    height: 350px;
    background: white;
    margin: 0 10px;
    position: relative;
    animation-name: moving;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    position: relative;
    top: 140px;
}

.panels:nth-child(1) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/1.jpeg");
    background-position: center center;
    background-size: cover;
}

.panels:nth-child(2) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/2.jpeg");
    background-position: center center;
    background-size: cover;
    animation-name: moving;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
}

.panels:nth-child(3) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/280.jpeg");
    background-position: center center;
    background-size: cover;
    animation-name: moving;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
}

.panels:nth-child(4) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/331.jpeg");
    background-position: center center;
    background-size: cover;
    animation-name: moving;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
}

.panels:nth-child(5) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/3.jpeg");
    background-position: center center;
    background-size: cover;
    animation-name: moving;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
}

.panels:nth-child(6) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/5.jpeg");
    background-position: center center;
    background-size: cover;
    animation-name: moving;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

.panels:nth-child(7) {
    background-image: url("//rickandmortyapi.com/api/character/avatar/4.jpeg");
    background-position: center center;
    background-size: cover;
    animation-name: moving;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
}

@keyframes moving {
    0% {
        top: 0px;
    }

    100% {
        top: 140px;
    }
}

#logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    animation: fill 0.5s ease forwards 1.5s;
    fill-opacity: 1;
}

#logo path {
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    stroke: #151515;
    animation: anim 2s ease-in forwards;
}

#logo path:nth-child(2) {
    animation: anim 2s ease-in forwards 0.4s;
}

#logo path:nth-child(3) {
    animation: anim 2s ease-in forwards 0.6s;
}

#logo path:nth-child(4) {
    animation: anim 2s ease-in forwards 0.8s;
}

#logo path:nth-child(5) {
    animation: anim 2s ease-in forwards 0.1s;
}

#logo path:nth-child(6) {
    animation: anim 2s ease-in forwards 0.12s;
}

#logo path:nth-child(7) {
    animation: anim 2s ease-in forwards 0.14s;
}

#logo path:nth-child(8) {
    animation: anim 2s ease-in forwards 0.16s;
}

#logo path:nth-child(9) {
    animation: anim 2s ease-in forwards 0.18s;
}

#logo path:nth-child(10) {
    animation: anim 2s ease-in forwards 0.2s;
}

#logo path:nth-child(11) {
    animation: anim 2s ease-in forwards 0.22s;
}

#logo path:nth-child(12) {
    animation: anim 2s ease-in forwards 0.24s;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #e6e6e6;
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 20px !important;
    text-align: center;
}

.charList-acc {
    display: flex;
    justify-content: space-between;
}

.charList-acc .column:last-child {
    text-align: right;
}

.charList-wrapper .form .ui.input input {
    background-color: rgba(255, 11, 214, 0.05);
    color: rgba(251, 255, 16, 0.95);
}

.charList-wrapper .form button,
.charList-wrapper .form button:hover,
.charList-wrapper .form button:focus {
    background: none;
    padding: 0;
}

.charList-wrapper .form img {
    max-height: 50px;
    max-width: 50px;
}

.charList-wrapper img {
    width: 100%;
    border: none;
    border-radius: 50%;
}

.charList-wrapper .chars {
    text-align: center;
    margin-bottom: 15px;
}

.charList-wrapper a {
    color: #fff;
}

.charList-wrapper .ui.pagination.menu {
    margin-bottom: 10px;
    background: none;
}

.charList-wrapper .ui.pagination.menu a {
    color: #fff;
}

.charList-wrapper .ui.pagination.menu a:hover,
.charList-wrapper .ui.pagination.menu .active.item {
    background-color: rgba(255, 11, 214, 0.05);
    color: rgba(251, 255, 16, 0.95);
    box-shadow: none;
}

.fade-enter {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
}

.fade-enter-active {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
}

.fade-exit {
    visibility: visible;
    opacity: 0;
}

.fade-exit-active {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
}

.charsWrapper {
    background-image: url("./images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    min-height: 900px;
    color: #fff;
    margin-bottom: 30px;
}

.charsWrapper h1 {
    font-family: "Press Start 2P", cursive;
}

.charsWrapper .first-col {
    text-align: right;
}

.charsWrapper .first-col img {
    border-radius: 50%;
    margin-top: 67px;
}

.charsWrapper .second-col h1 {
    margin-top: 47px;
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: 2px 2px 3px red;
}

.charsWrapper ul {
    list-style: none;
    margin-left: 10rem;
}

.charsWrapper ul li {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    font-family: "Audiowide", cursive;
}

.charsWrapper .redBox {
    background: red;
    padding: 5px 10px;
}

.charsWrapper .purpleBox {
    background: purple;
    padding: 5px 10px;
}

.charsWrapper .brownBox {
    background: burlywood;
    padding: 5px 10px;
}

.charsWrapper .greenBox {
    background: green;
    padding: 5px 10px;
}
